<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4">Peliculas Angular Application</h1>
    <p class="lead">Esta es una aplicación de Pelicula!.</p>
  </div>
</div>

<div class="container">
  <br>

  <app-galeria [peliculas]=" cartelera | slice:0:6" titulo="Películas en  Cartelera"></app-galeria>

  <app-galeria [peliculas]=" populares | slice:0:6" titulo="Pelis Populares"></app-galeria>

  <app-galeria [peliculas]=" popularesNinos | slice:0:6" titulo="Para los más chicos"></app-galeria>

</div>
